@charset "UTF-8"; 
*{ margin: 0; padding: 0;}
ul,ol,li { list-style: none;}
a{ text-decoration: none;}

:root {
    //color
    --color-white: #ebf2f5;
    --color-gray: #879194;
    --color-darkgray: #5f6669;

    //font size
	--font-large: 30px;
	--font-medium: 24px;
	--font-regular: 16px;
	--font-small: 14px;
	--font-micro: 12px;

    //font weight
    --weight-bold: 700;
	--weight-semi-bold: 600;
	--weight-regular: 400;

}
#header{
    width: 100%;
    border-bottom: 1px solid var(--color-gray);

    .inner{
        width: 1180px;
        height: 150px;
        margin: 0 auto;
        position: relative;
        border: solid 1px red;

        .header__top{
            float:left;
            border: solid 1px green;
            

        }
        .header__under{

        }
    }
}

